<h2>Crear Nueva Cita</h2>
<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()" class="form-container">
  <div class="container-box">
    <div class="box-1">
      <div class="form-group mini-box">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Mascota:</mat-label>
          <mat-select formControlName="pet">
            <mat-option *ngFor="let pet of pets" [value]="pet.id">{{ pet.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="appointmentForm.get('pet')?.invalid">
            La mascota es requerida.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="box-2">
      <div class="form-group mini-box">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Veterinario:</mat-label>
          <mat-select formControlName="veterinarian">
            <mat-option *ngFor="let veterinarian of veterinarians" [value]="veterinarian.id">
              {{ veterinarian.first_name + " " + veterinarian.last_name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="appointmentForm.get('veterinarian')?.invalid">
            El veterinario es requerido.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="box-3">
      <div class="form-group mini-box">
        <mat-form-field appearance="outline" class="form-field date-field">
          <mat-label>Fecha:</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Selecciona una fecha" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="appointmentForm.get('date')?.invalid">
            La fecha es requerida.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="box-4">
      <div class="form-group mini-box">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Motivo de la Cita:</mat-label>
          <textarea matInput formControlName="reason"></textarea>
          <mat-error *ngIf="appointmentForm.get('reason')?.invalid">
            El motivo es requerido.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <button mat-raised-button color="primary" type="submit" [disabled]="!appointmentForm.valid">Crear Cita</button>
</form>