<div class="about-container">
  <h2 class="about-title">Acerca de PetCheck</h2>
  <img src="https://images.pexels.com/photos/46024/pexels-photo-46024.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Mascota" class="about-image">

  <p class="about-text">
    PetCheck es una aplicación diseñada para facilitar el cuidado de tus mascotas.
    Con nuestra plataforma, podrás gestionar sus registros, programar citas,
    recibir recordatorios y mucho más.
  </p>

  <h3 class="about-subtitle">Características principales:</h3>
  <ul class="about-list">
    <li>🟢 Registro de mascotas: Almacena información detallada de tus mascotas.</li>
    <li>🟢 Programación de citas: Agenda visitas al veterinario y otros servicios.</li>
    <li>🟢 Recordatorios: Recibe notificaciones sobre vacunas, medicamentos y más.</li>
    <li>🟢 Historial médico: Accede al historial de salud de tus mascotas.</li>
    <li>🟢 Consejos y recursos: Encuentra información útil sobre el cuidado animal.</li>
  </ul>

  <h3 class="about-subtitle">Nuestro equipo:</h3>
  <p class="about-text">
    Somos un grupo de apasionados por los animales que buscamos mejorar su bienestar.
    Nuestro equipo está formado por desarrolladores, diseñadores y expertos en cuidado animal.
  </p>

  <h3 class="about-subtitle">Contáctanos:</h3>
  <p class="about-text">
    Si tienes alguna pregunta o sugerencia, no dudes en contactarnos a través de:
    <a href="">{{"info@petcheck.com"}}</a>
  </p>
</div>