<h2 class="title">Registro Médico</h2>

<div *ngIf="loading" class="loading">Cargando historial médico...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<div class="medical-record-container" *ngFor="let record of records">
  <mat-card>
    <div class="info-base-container">
      <mat-card-header class="title-pet">
        <mat-card-title>{{ record.pet_name }}</mat-card-title>
        <mat-card-subtitle>{{ record.breed }}</mat-card-subtitle>
      </mat-card-header>

      <div class="info-base-end">
        <p><strong>Fecha:</strong> {{ formatDate(record.appointment_date, 'dd/MM/yyyy') }}</p>
        <button mat-icon-button (click)="record.showDetails = !record.showDetails" class="expand-button">
          <mat-icon>{{ record.showDetails ? 'expand_less' : 'expand_more' }}</mat-icon>
        </button>
      </div>
    </div>

    <div *ngIf="record.showDetails">
      <mat-card-content>
        <section>
          <h3>Información del Veterinario</h3>
          <p><strong>Nombre:</strong> {{ record.veterinarian_name }}</p>
          <p><strong>Especialidad:</strong> {{ record.veterinarian_specialization }}</p>
        </section>

        <section>
          <h3>Detalles de la Cita</h3>
          <p><strong>Fecha:</strong> {{ formatDate(record.appointment_date, 'dd/MM/yyyy') }}</p>
          <p><strong>Peso:</strong> {{ record.pet_weight }} kg</p>
        </section>

        <section>
          <h3>Diagnóstico y Tratamiento</h3>
          <p><strong>Diagnóstico:</strong> {{ record.diagnosis }}</p>
          <p><strong>Tratamiento:</strong> {{ record.treatment }}</p>
        </section>

        <section>
          <h3>Síntomas</h3>
          <ul>
            <li *ngFor="let symptom of record.symptoms">{{ symptom }}</li>
          </ul>
        </section>

        <section>
          <h3>Prescripciones</h3>
          <ul>
            <li *ngFor="let prescription of record.prescriptions">{{ prescription }}</li>
          </ul>
        </section>

        <section>
          <h3>Notas Adicionales</h3>
          <p>{{ record.additional_notes }}</p>
        </section>
      </mat-card-content>
    </div>
  </mat-card>
</div>
