/* General container styling */
.medical-record-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f9fff9; /* Fondo similar al verde claro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Títulos */
.title{
  text-align: center;
  font-size: 30px;
}

h2, h3 {
  color: #2b7a2b; /* Verde oscuro para encabezados */
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}

.info-base-container {
  display: flex;
  justify-content: space-between; /* Espacia los elementos extremos */
  align-items: center; /* Alinea verticalmente los elementos */
  width: 100%;
}

.info-base-end {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  gap: 10px; /* Espacio entre la fecha y el botón */
}

.expand-button {
  margin: 0; /* Quita márgenes adicionales */
  padding: 0; /* Quita relleno adicional */
  display: flex;
  align-items: center; /* Asegura que el ícono esté centrado */
  justify-content: center;
}


/* Tarjetas */
mat-card {
  background-color: #f6fef6;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

mat-card-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #006400;
  width: 100%;
}

mat-card-subtitle {
  color: #95b395;
  font-size: 1.2rem;
}

/* Botones */
mat-card-actions button {
  margin-right: 10px;
}

button[mat-button] {
  background-color: #28a745;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 8px 15px;
}

button[mat-button]:hover {
  background-color: #218838;
}

button[mat-button][color="warn"] {
  background-color: #dc3545;
}

button[mat-button][color="warn"]:hover {
  background-color: #c82333;
}

/* Inputs */
mat-form-field {
  width: 100%;
}

textarea {
  resize: none;
}

/* Prescripciones */
.prescription {
  border: 1px solid #e5e5e5;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #ffffff;
}

/* Notas adicionales */
.medical-record-container p {
  color: #555555;
  line-height: 1.5;
}

.mat-icon-button {
  background-color: #28a745; /* Color de fondo verde */
  color: white; /* Color del ícono */
  border-radius: 50%; /* Hacer el botón circular */
  width: 40px; /* Tamaño del botón */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.mat-icon-button:hover {
  background-color: #218838; /* Fondo más oscuro al pasar el mouse */
  transform: scale(1.1); /* Efecto de zoom */
}

.mat-icon {
  font-size: 24px; /* Tamaño del ícono */
}


/* Responsiveness */
@media (max-width: 768px) {
  .medical-record-container {
    padding: 10px;
  }

  mat-card {
    padding: 10px;
  }

  button[mat-button] {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
}
