<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Documentación
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list class="container-options-list">
          <a class="small" routerLink="about">- About -</a>
          <a class="small" routerLink="home">1. Reportes</a>
          <a class="small" routerLink="home">2. Documentos</a>
          <a class="small" routerLink="home">3. otros</a>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            App PetCheck
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list class="container-options-list">
          <a class="small" routerLink="solicitar-cita">1. Solicitar Cita</a>
          <a class="small" routerLink="mis-citas">2. Mis Citas</a>
          <a class="small" routerLink="historial-medico">3. Historial Medico</a>
        </mat-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <div class="container-logout">
        <mat-icon class="icon-logout" (click)="onSubmit()">
          pets
        </mat-icon>
        PetCheck
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>